.container {
    .container {
        max-width: 64rem;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }

    .section {
        padding: 5rem 0 2rem;
    }


    .unique-container {
        padding-left: 90px;

    }

    .unique {
        padding-left: 50px;
        background-color: black;
    }

}

.unique-catagory {
    padding: 50px;
    width: 100%;
    background-color: black;
    margin: 30px;
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.unique-coffees {
    margin: 10px;
    border: 2px solid rgb(13, 11, 11);
    border-radius: 2px;
    box-shadow: 2px 2px 3px 4px rgb(13, 11, 11);

}

.unique-coffees h2 {
    text-align: center;
    color: aliceblue;
    font-size: 1.1rem;
    padding-bottom: 23px;
}

.coffee {
    padding-left: 50px;
    padding-top: 20px;
}

.coffee img {
    width: 70%;
}