.unique {
    max-width: 64rem;
}

.container {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.section {
    padding: 5rem 0 2rem;
}


.unique-container {
    padding-left: 7rem;

}

.unique-box h3 {
    color: plum;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.unique-catagory {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    background-color: rgb(40, 31, 48);
    gap: 2rem;
}


.unique-coffees {
    margin: 10px;
    border: 2px solid rgb(13, 11, 11);
    border-radius: 5px;
    box-shadow: 2px 2px 3px 4px rgb(13, 11, 11);

}

.unique-coffees h2 {
    text-align: center;
    color: aliceblue;
    font-size: 1rem;
    margin-bottom: 10px;
}

.unique-coffees p {
    text-align: center;
    color: aliceblue;
    font-size: 1rem;
    margin-bottom: 20px;
}

.coffee img {
    width: 110px;
    height: 90px;
    transition: 0.5s;
    border: 2px solid;
    border-radius: 50%;
    padding: 0.2rem;
    margin-bottom: 0.8rem;
    margin-left: 13px;
    margin-top: 10px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px;
}


@media screen and (max-width: 768px) {
    .unique-catagory {
        grid-template-columns: repeat(3, 1fr);
    }
}