.unique-container {
    padding: 0 10rem;
}

.unique-box h3 {
    color: plum;
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.unique-category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    background-color: rgb(40, 31, 48);
    gap: 2rem;
    margin-bottom: 3rem;
}


.unique-coffees {
    margin: 10px;
    border: 2px solid rgb(13, 11, 11);
    border-radius: 5px;
    box-shadow: 2px 2px 3px 4px rgb(13, 11, 11);
    justify-items: center;
    padding: 10px;

}

.unique-coffees h2 {
    text-align: center;
    color: aliceblue;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.unique-coffees p {
    text-align: center;
    color: aliceblue;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.coffee img {
    width: 110px;
    height: 90px;
    transition: 0.5s;
    border: 2px solid;
    border-radius: 50%;
    padding: 0.2rem;
    margin-bottom: 1rem;
    background-color: black;
    box-shadow: 2px 2px 2px 2px;
    object-fit: cover;
}


@media screen and (max-width: 768px) {

    .unique-container {
        padding: 0 5%;
    }

    .unique-category {
        margin-bottom: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        justify-content: center;
        gap: 2rem;
    }

}