.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0 1px 4px rgba(130, 122, 122, 0.409);
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: white;
}

.logo span {
    color: plum;
    ;
}

li {
    display: flex;
    flex-direction: column;
    float: right;
    row-gap: 2rem;
    padding-top: 0.9rem;
    text-align: center;
}

.navbar-link {
    color: white;
    text-decoration: none;
    margin-right: 8rem;
    transition: 0.5s;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
}

.navbar-link:hover {
    cursor: pointer;
    color: plum;
    ;
}

@media screen and (max-width: 768px) {
    .header {
        width: 800px;
    }

    .navbar-link {
        margin-right: 1rem;
    }

}