.star-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;
    justify-content: center;
    padding-right: 3rem;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.star-content h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}

.star-content button {
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(31, 23, 38);
    transition: 0.5s;
    text-transform: uppercase;
    border-radius: 0 5rem;
    width: 40%;
}

.star-content button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(50, 39, 59);
}

@media screen and (max-width: 768px) {

    .star-content {
        width: 100%;
        align-items: center;
        padding-right: 0rem;
    }

    .star-content h1 {
    font-size: 1.4rem;
}

    .star-content button {
        width: 70%;
    }
}